<a href="https://colab.research.google.com/github/dustinak80/Deep_Learning/blob/master/HW3/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

## Import packages

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.initializers import Constant

## Import the Data

In [5]:
root = 'drive/My Drive/Deep learning/'

stocks = pd.read_csv(root+'stocks_dataset.csv')
stocks.head()

                  Date        ABT       ABBV  ...        REGN        RMD        STE
0  2015-01-02 00:00:00  44.900002  65.889999  ...  410.160004  57.169998  65.160004
1  2015-01-05 00:00:00  44.910000  64.650002  ...  412.470001  57.060001  64.510002
2  2015-01-06 00:00:00  44.400002  64.330002  ...  396.890015  56.650002  64.550003
3  2015-01-07 00:00:00  44.759998  66.930000  ...  407.720001  57.029999  65.070000
4  2015-01-08 00:00:00  45.680000  67.629997  ...  403.250000  57.990002  66.779999

[5 rows x 51 columns]

In [6]:
stocks.tail()

                     Date        ABT  ...         RMD         STE
1332  2020-04-20 00:00:00  98.000000  ...  164.279999  157.449997
1333  2020-04-21 00:00:00  94.050003  ...  157.350006  147.779999
1334  2020-04-22 00:00:00  95.480003  ...  160.919998  150.880005
1335  2020-04-23 00:00:00  93.940002  ...  158.729996  149.449997
1336  2020-04-24 00:00:00  94.059998  ...  161.000000  147.820007

[5 rows x 51 columns]

In [7]:
#any nulls?
print('There are {} null values\n'.format(stocks.isnull().sum().sum()))

There are 0 null values

In [8]:
#what are the dtypes of the columns
stocks.dtypes

Date     object
ABT     float64
ABBV    float64
ABMD    float64
A       float64
ALXN    float64
ALGN    float64
AGN     float64
ABC     float64
AMGN    float64
ANTM    float64
BAX     float64
BDX     float64
BIIB    float64
BSX     float64
BMY     float64
CAH     float64
CNC     float64
CERN    float64
CI      float64
COO     float64
CVS     float64
DHR     float64
DVA     float64
XRAY    float64
EW      float64
GILD    float64
HCA     float64
HSIC    float64
HOLX    float64
HUM     float64
IDXX    float64
ILMN    float64
INCY    float64
ISRG    float64
IQV     float64
JNJ     float64
LH      float64
LLY     float64
MCK     float64
MDT     float64
MRK     float64
MTD     float64
MYL     float64
PKI     float64
PRGO    float64
PFE     float64
DGX     float64
REGN    float64
RMD     float64
STE     float64
dtype: object

Dates are not in date format. Lets get into date format.

In [9]:
stocks['Date'] = pd.to_datetime(stocks['Date'])
stocks['Date'].dtypes

dtype('<M8[ns]')

In [10]:
print('The shape is {}'.format(stocks.shape))

The shape is (1337, 51)

Plot the time series data before normalization

## PreProcess Data and Train/Test Set

#### Normalize

In [0]:
stocks2 = stocks.copy(deep = True)

In [0]:
means = stocks2.loc[:,'ABT':].mean()
stocks2.loc[:,'ABT':] = stocks2.loc[:,'ABT':]/means

In [25]:
stocks2.describe()

               ABT         ABBV  ...          RMD          STE
count  1337.000000  1337.000000  ...  1337.000000  1337.000000
mean      1.000000     1.000000  ...     1.000000     1.000000
std       0.281322     0.205326  ...     0.354138     0.317990
min       0.629754     0.641856  ...     0.557783     0.651990
25%       0.762152     0.830942  ...     0.699965     0.727544
50%       0.883458     0.937586  ...     0.873292     0.904747
75%       1.237673     1.174542  ...     1.213852     1.211065
max       1.698292     1.638349  ...     1.993033     1.773190

[8 rows x 50 columns]

In [26]:
stocks2.head()

        Date       ABT      ABBV  ...      REGN       RMD       STE
0 2015-01-02  0.778095  0.876153  ...  1.014532  0.645123  0.685663
1 2015-01-05  0.778268  0.859664  ...  1.020246  0.643882  0.678823
2 2015-01-06  0.769430  0.855409  ...  0.981709  0.639256  0.679244
3 2015-01-07  0.775669  0.889982  ...  1.008497  0.643544  0.684716
4 2015-01-08  0.791612  0.899290  ...  0.997441  0.654377  0.702710

[5 rows x 51 columns]

Plot the time series after normalization

#### Series to Supervised

In [0]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
  """
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""#n_vars = 1 if type(data) is list else data.shape[1]
  variables = list(data.columns)
  df = data.copy(deep = True)
  cols, names = list(), list()
  # input sequence (t-n, ... t-1)
  for i in range(n_in, 0, -1):
    cols.append(df.shift(i))
    names += ['{}(t-{})'.format(j, i) for j in variables]
  # forecast sequence (t, t+1, ... t+n)
  for i in range(0, n_out):
    cols.append(df.shift(-i))
    if i == 0:
      names += ['{}(t)'.format(j) for j in variables]
    else:
      names += ['{}(t+{})'.format(j, i) for j in variables]
  # put it all together
  agg = pd.concat(cols, axis=1)
  agg.columns = names
  # drop rows with NaN values
  if dropnan:
    agg.dropna(inplace=True)
  return agg

In [0]:
df = series_to_supervised(stocks2.loc[:,'ABT':], n_in=4, n_out=2, dropnan=False)

In [39]:
print('new shape is {}'.format(df.shape))
#shape is 350 because it is all 50 stocks of t+1. Remove all except ABT
columns = list(df.columns)[-49:]

new shape is (1337, 300)

In [0]:
df.drop(columns = list(df.columns)[-49:], inplace = True)

In [43]:
print('new shape is {}.'.format(df.shape))

new shape is (1337, 251).

In [41]:
#Look at the y values
df.iloc[0:5,[0, 50, 100, 150, 200, 250]]

   ABT(t-4)  ABT(t-3)  ABT(t-2)  ABT(t-1)    ABT(t)  ABT(t+1)
0       NaN       NaN       NaN       NaN  0.778095  0.778268
1       NaN       NaN       NaN  0.778095  0.778268  0.769430
2       NaN       NaN  0.778095  0.778268  0.769430  0.775669
3       NaN  0.778095  0.778268  0.769430  0.775669  0.791612
4  0.778095  0.778268  0.769430  0.775669  0.791612  0.783294

In [42]:
df.iloc[-5:, [0, 50, 100, 150, 200, 250]]

      ABT(t-4)  ABT(t-3)  ABT(t-2)  ABT(t-1)    ABT(t)  ABT(t+1)
1332  1.544752  1.575945  1.663633  1.663806  1.698292  1.629840
1333  1.575945  1.663633  1.663806  1.698292  1.629840  1.654621
1334  1.663633  1.663806  1.698292  1.629840  1.654621  1.627934
1335  1.663806  1.698292  1.629840  1.654621  1.627934  1.630013
1336  1.698292  1.629840  1.654621  1.627934  1.630013       NaN

In [46]:
#Save the last day as a forecast of 1 day ahead of last day
last_day = df.iloc[1336,0:250]
last_day

ABT(t-4)     1.698292
ABBV(t-4)    1.116832
ABMD(t-4)    0.914350
A(t-4)       1.328310
ALXN(t-4)    0.801803
               ...
PFE(t)       1.040342
DGX(t)       1.177639
REGN(t)      1.400523
RMD(t)       1.816772
STE(t)       1.555475
Name: 1336, Length: 250, dtype: float64

Since we are shifting the data, we will have to remove the rows with Nan's in them. Should reduce the rows by 5.

#### Data set of (N-5) 'cases' for prediction task

This is another way of saying remove all of the NaN values from shifting the data

In [54]:
df.dropna(inplace = True)
shape = df.shape
shape

(1332, 251)

Split into train and test set

In [60]:
#split into PredTest and PredTrain
train = df.sample(frac=0.9, random_state = 9)
train_idx = list(train.index)
train.shape

(1199, 251)

In [62]:
test = df.drop(index = train_idx)
test.shape

(133, 251)

In [63]:
trainX, trainy = train.iloc[:,:250], train.iloc[:,250]
testX, testy = test.iloc[:,:250], test.iloc[:,250]

print('TrainX: {}\tTrainy = {}'.format(trainX.shape, trainy.shape))
print('TestX: {}\tTest = {}'.format(testX.shape, testy.shape))

TrainX: (1199, 250)	Trainy = (1199,)
TestX: (133, 250)	Test = (133,)

In [64]:
trainy.head()

615    0.825578
943    1.279091
415    0.744822
832    1.016376
63     0.800450
Name: ABT(t+1), dtype: float64

## AutoEncoder

#### Plausable dimension h for H

In [70]:
corr = df.iloc[:,:250].corr()
corr.describe()

         ABT(t-4)   ABBV(t-4)   ABMD(t-4)  ...     REGN(t)      RMD(t)      STE(t)
count  250.000000  250.000000  250.000000  ...  250.000000  250.000000  250.000000
mean     0.409352    0.304824    0.280925  ...   -0.130032    0.398860    0.397619
std      0.633901    0.477851    0.568669  ...    0.472706    0.636920    0.652048
min     -0.858191   -0.673202   -0.774373  ...   -0.579132   -0.836906   -0.877723
25%     -0.289320   -0.125451   -0.382874  ...   -0.490708   -0.267775   -0.316907
50%      0.737831    0.543848    0.565178  ...   -0.389355    0.746963    0.745635
75%      0.908269    0.684169    0.716424  ...    0.430676    0.888062    0.895346
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 250 columns]

In [0]:
eigs, eig_vals = np.linalg.eig(corr)

In [78]:
ratio = np.cumsum(eigs)/np.sum(eigs)
print('min: {}\t max: {}'.format(min(ratio),max(ratio)))

min: 0.66482497373392	 max: 0.9999999999999997

Plot the Ratio

In [75]:
ratio[ratio>.90]

array([0.90630778, 0.92590138, 0.93858037, 0.94976239, 0.95746921,
       0.96241688, 0.9668171 , 0.96997712, 0.97303062, 0.97579463,
       0.97804881, 0.98018489, 0.98197296, 0.9835886 , 0.9848806 ,
       0.98607476, 0.98699751, 0.98785036, 0.98860041, 0.98926232,
       0.98989752, 0.99049247, 0.99100282, 0.99147996, 0.99193627,
       0.9923381 , 0.99271241, 0.99305894, 0.99337659, 0.99366856,
       0.99395995, 0.99423   , 0.99449546, 0.99473849, 0.99496296,
       0.99518133, 0.99537791, 0.99555904, 0.99572324, 0.995882  ,
       0.99602886, 0.99616734, 0.99630323, 0.99643266, 0.99655539,
       0.99666183, 0.99676718, 0.99686825, 0.99696485, 0.99705503,
       0.99714308, 0.99722981, 0.99730904, 0.997384  , 0.99745651,
       0.9975252 , 0.99759098, 0.99765436, 0.99771574, 0.99777336,
       0.99782956, 0.99788052, 0.9979341 , 0.99798686, 0.99803448,
       0.99808054, 0.99812513, 0.99816816, 0.99820986, 0.99825016,
       0.9982898 , 0.99832836, 0.99836638, 0.99840369, 0.99843928,
       0.99847248, 0.99850593, 0.99853847, 0.99856994, 0.99860103,
       0.99862955, 0.99865854, 0.99868851, 0.99871881, 0.99874623,
       0.99877294, 0.99879923, 0.99882454, 0.99884932, 0.9988736 ,
       0.99889792, 0.99892166, 0.99894517, 0.99896789, 0.99899003,
       0.99901186, 0.999033  , 0.99905412, 0.99907411, 0.99909353,
       0.9991128 , 0.99913168, 0.99914801, 0.99916629, 0.9991844 ,
       0.9992022 , 0.99921914, 0.99923628, 0.9992523 , 0.9992682 ,
       0.99928155, 0.99929516, 0.99931053, 0.99932564, 0.99934043,
       0.99935507, 0.99936937, 0.99938375, 0.99939664, 0.99940943,
       0.99942214, 0.99943444, 0.99944648, 0.99945812, 0.99946965,
       0.99948082, 0.99949185, 0.99950263, 0.99951325, 0.99952369,
       0.9995338 , 0.99954292, 0.9995521 , 0.99956207, 0.99957162,
       0.9995814 , 0.99959105, 0.99960004, 0.9996089 , 0.99961767,
       0.99962609, 0.99963392, 0.99964216, 0.99965031, 0.99965831,
       0.99966601, 0.99967362, 0.99968089, 0.99968809, 0.99969515,
       0.99970215, 0.99970911, 0.99971585, 0.9997225 , 0.99972904,
       0.99972964, 0.99973032, 0.99973103, 0.99973176, 0.99973258,
       0.99973342, 0.99973975, 0.99974597, 0.99975218, 0.99975823,
       0.99976417, 0.99977007, 0.99977584, 0.99978171, 0.99978731,
       0.99979279, 0.99979814, 0.99979904, 0.99979995, 0.99980088,
       0.99980186, 0.99980287, 0.99980828, 0.99981345, 0.99981857,
       0.99981967, 0.99982079, 0.99982194, 0.99982317, 0.99982443,
       0.99982934, 0.99983428, 0.9998393 , 0.99984408, 0.99984865,
       0.99985313, 0.99985441, 0.99985574, 0.99985711, 0.99985853,
       0.99986314, 0.99986751, 0.99987181, 0.99987614, 0.99988032,
       0.99988436, 0.99988851, 0.99989   , 0.99989153, 0.99989308,
       0.99989471, 0.9998964 , 0.99989804, 0.99990186, 0.99990553,
       0.99990943, 0.99991338, 0.99991512, 0.99991695, 0.99991881,
       0.99992059, 0.99992269, 0.99992463, 0.99992679, 0.99992925,
       0.99993181, 0.99993443, 0.99993712, 0.99993912, 0.99994104,
       0.99994318, 0.9999454 , 0.99994901, 0.99995256, 0.99995609,
       0.99995925, 0.99996247, 0.99996575, 0.99996916, 0.99997215,
       0.99997552, 0.99997787, 0.99998024, 0.99998309, 0.99998598,
       0.99998876, 0.99999112, 0.99999419, 0.99999723, 1.        ])

In [76]:
h = np.min(np.nonzero(ratio>.90))
h

5

In [77]:
#Hidden Layer of size 5??
ratio[h]

0.9063077771299585

According to this we can get a hidden layer of size 5 with 90.6 of the variance explained. Which means our dim(H) = 5

#### AutoEncoder to compress the input vectors Xt