<a href="https://colab.research.google.com/github/dustinak80/Deep_Learning/blob/master/HW3/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3 - Stock price prediction

---

## Import packages

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.initializers import Constant

## Import the Data

In [4]:
stocks = pd.read_csv('https://raw.githubusercontent.com/dustinak80/Deep_Learning/master/HW3/stocks_dataset.csv')
stocks.head()

                  Date        ABT       ABBV  ...        REGN        RMD        STE
0  2015-01-02 00:00:00  44.900002  65.889999  ...  410.160004  57.169998  65.160004
1  2015-01-05 00:00:00  44.910000  64.650002  ...  412.470001  57.060001  64.510002
2  2015-01-06 00:00:00  44.400002  64.330002  ...  396.890015  56.650002  64.550003
3  2015-01-07 00:00:00  44.759998  66.930000  ...  407.720001  57.029999  65.070000
4  2015-01-08 00:00:00  45.680000  67.629997  ...  403.250000  57.990002  66.779999

[5 rows x 51 columns]

In [0]:
stocks.tail()

                     Date        ABT  ...         RMD         STE
1332  2020-04-20 00:00:00  98.000000  ...  164.279999  157.449997
1333  2020-04-21 00:00:00  94.050003  ...  157.350006  147.779999
1334  2020-04-22 00:00:00  95.480003  ...  160.919998  150.880005
1335  2020-04-23 00:00:00  93.940002  ...  158.729996  149.449997
1336  2020-04-24 00:00:00  94.059998  ...  161.000000  147.820007

[5 rows x 51 columns]

In [0]:
#any nulls?
print('There are {} null values\n'.format(stocks.isnull().sum().sum()))

There are 0 null values

In [0]:
#what are the dtypes of the columns
stocks.dtypes

Date     object
ABT     float64
ABBV    float64
ABMD    float64
A       float64
ALXN    float64
ALGN    float64
AGN     float64
ABC     float64
AMGN    float64
ANTM    float64
BAX     float64
BDX     float64
BIIB    float64
BSX     float64
BMY     float64
CAH     float64
CNC     float64
CERN    float64
CI      float64
COO     float64
CVS     float64
DHR     float64
DVA     float64
XRAY    float64
EW      float64
GILD    float64
HCA     float64
HSIC    float64
HOLX    float64
HUM     float64
IDXX    float64
ILMN    float64
INCY    float64
ISRG    float64
IQV     float64
JNJ     float64
LH      float64
LLY     float64
MCK     float64
MDT     float64
MRK     float64
MTD     float64
MYL     float64
PKI     float64
PRGO    float64
PFE     float64
DGX     float64
REGN    float64
RMD     float64
STE     float64
dtype: object

Dates are not in date format. Lets get into date format.

In [0]:
stocks['Date'] = pd.to_datetime(stocks['Date'])
stocks['Date'].dtypes

dtype('<M8[ns]')

In [0]:
print('The shape is {}'.format(stocks.shape))

The shape is (1337, 51)

#### Series to Supervised

In [0]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
  """
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""#n_vars = 1 if type(data) is list else data.shape[1]
  variables = list(data.columns)
  df = data.copy(deep = True)
  cols, names = list(), list()
  # input sequence (t-n, ... t-1)
  for i in range(n_in, 0, -1):
    cols.append(df.shift(i))
    names += ['{}(t-{})'.format(j, i) for j in variables]
  # forecast sequence (t, t+1, ... t+n)
  for i in range(0, n_out):
    cols.append(df.shift(-i))
    if i == 0:
      names += ['{}(t)'.format(j) for j in variables]
    else:
      names += ['{}(t+{})'.format(j, i) for j in variables]
  # put it all together
  agg = pd.concat(cols, axis=1)
  agg.columns = names
  # drop rows with NaN values
  if dropnan:
    agg.dropna(inplace=True)
  return agg

In [0]:
df = series_to_supervised(stocks.loc[:,'ABT':], n_in=5, n_out=2, dropnan=False)

In [0]:
print('new shape is {}'.format(df.shape))
#shape is 350 because it is all 50 stocks of t+1. Remove all except ABT
columns = list(df.columns)[-49:]

new shape is (1337, 350)

In [0]:
df.drop(columns = list(df.columns)[-49:], inplace = True)

In [0]:
df.shape

(1337, 301)